.audio-recorder-wrapper{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height:6rem;
    position:relative;
    bottom: 2rem;
    .recorder-btn{
       height:4rem;
       width:4rem;
       border-radius: 50%;
       z-index: 1;
       background-color: red;
       position: relative;
       top:1rem;
       left:50%;
       transform: translate(-50%,0);
       transition: all 0.3s;
    }
    .wave{
        position: absolute;
        z-index: 0;
        left:0;
        bottom:-5rem;
        width:100vw;
    }
}